.email {
  max-width: 192px;
  padding: 10px 22px;

  font-family: Nunito;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 500;

  border-radius: 2rem;

  transition: all ease 0.05s;
  background: #C5D7E8FC;
  border: none;
}

.email:hover {
  outline: 1px solid #999;
}

.email:focus,
.email:active {
  outline: 1px solid #aaa;
}

.error {
  outline: 2px solid red;
}