input {
  padding: 10px 22px;
  max-width: 192px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  background: #C5D7E8FC;
  width: fit-content;
  border: 2px solid #C5D7E8FC;
  transition: all ease 0.05s;
}

input:hover {
  outline: 1px solid #999;
}

input:focus,
input:active {
  /* outline: none; */
  outline: 1px solid #aaa;
  /* border: 2px solid #00A1E7; */
}